@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    /* Dark mode variables */
    --background: #333;
    --background2: rgb(38, 36, 36);
    --colorText: #fafafa;
    --border: var(--colorText);
    --textHover: rgb(198, 64, 64);
    --buttonBackground: rgb(198, 64, 64);
    --buttonBackgroundHover: var(--colorText);
    --fontFamily: 'Roboto', sans-serif;    
}

[tema="light"]{
    --background: #fafafa;
    --background2: #c9c7c7;
    --colorText: #333;
    --lightBorder: var(--background);
    --border: var(--colorText);
    --textHover: var(--border);
    --buttonBackground: steelblue;
    --buttonBackgroundHover: var(--background);
}

/*Botón de cambio de tema*/

#switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  #switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    outline: 2px solid var(--border);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--buttonBackground);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fafafa;
    outline: 2px solid #333;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    background-color: steelblue;
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html{
    overflow-y: scroll;
	scroll-behavior: smooth;
}

body{
    font-family: var(--fontFamily);
    background: var(--background);
}


#toggle{
    display: none;
}

.button{ /* caja del boton */
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    place-self: flex-end;
}

.button::after{ /* el boton en si */
    content: url(/assets/moon.svg);
    width: 30px;
    height: 30px;
    background-color: tomato;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -4px;
    left: -1;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s, transform 1s ease;
}

#toggle:checked + .button::after{
    content: url(/assets/sun.svg);
    background-color: steelblue;
    transform: translateX(30px) rotate(360deg);
}

.nav{
    background-color: var(--background2);
    padding: 20px 50px;
    width: 90%;
    max-width: 1200px;
    margin: 15px auto;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
    border-radius: 15px;
}

.nav__logo{
    color: var(--colorText);
    font-size: 2rem;
    margin-left: 15px;
    flex-grow: 1;
    font-weight: 400;
}

.dot{
    --dotColor: var(--buttonBackground);
    color: var(--dotColor);

}

.nav__cta{
    color: var(--colorText);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 15px;
    border: 2px solid var(--border);
    background-color: var(--buttonBackground);
    padding: 6px 15px;
    border-radius: 30px;
}

.nav__cta:hover{
    background-color: var(--buttonBackgroundHover);
    color: var(--textHover);
}


.gallery{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
}

.gallery__container{ 
    padding: 50px 50px;   
    columns: 4 290px;
    column-gap: 0.5em;
    background-color: var(--background2);
    border-radius: 15px;
}

.gallery__img{
    display: block;
    max-width: 100%;
    margin-bottom: 0.5em;
    object-fit: cover;
    filter: brightness(95%);
    border-radius: 3px;
    outline: 2px solid var(--border);
    outline-offset: -6px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s;
}

.gallery__img:hover{
    transform: scale(1.02);
}

.footer{
    background-color: var(--background);
    height: 70px;
    line-height: 70px;
}
.footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__name{
    color: var(--colorText);
    text-transform: uppercase;
}

.cta{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--colorText);
}

.cta:hover{
    font-weight: bold;
    color: var(--textHover);
    /* text-shadow: 1px 2px var(--font-color); */
}

@media screen and (max-width: 768px){
    .modal__mail{
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 550px){
    .nav{
        flex-direction: row;
    }

    .nav__logo{
        order: -1;
    }

    .nav__cta{
        font-size: 0.8em;
    }

    .modal__title{
        font-size: 1.1em;
    }
}