@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --background: #333;
    --colorText: #fafafa;
    --border: var(--colorText);
    --textHover: tomato;
    --buttonBackground: tomato;
    --buttonBackgroundHover: var(--colorText);
    --fontFamily: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html{
    overflow-y: scroll;
	scroll-behavior: smooth;
}

body{
    font-family: var(--fontFamily);
    background: var(--background);
}


#toggle{
    display: none;
}

.button{ /* caja del boton */
    display: inline-block;
    width: 60px;
    height: 30px;
    background-color: var(--background);
    border: 2px solid var(--border);
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    place-self: flex-end;
}

.button::after{ /* el boton en si */
    content: url(/assets/moon.svg);
    width: 30px;
    height: 30px;
    background-color: tomato;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25);
    position: absolute;
    top: -4px;
    left: -1;
    display: grid;
    place-content: center;
    line-height: 0;
    transition: background-color 1s, transform 1s ease;
}

#toggle:checked + .button::after{
    content: url(/assets/sun.svg);
    background-color: steelblue;
    transform: translateX(30px) rotate(360deg);
}

.nav{
    background-color: #333;
    /* padding: 50px 80px; */
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: #fafafa;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 70px;
}

.nav__logo{
    color: var(--colorText);
    font-size: 1.8em;
    margin-left: 15px;
    flex-grow: 1;
    font-weight: 400;
}

.dot{
    --dotColor: tomato;
    color: var(--dotColor);

}

.nav__cta{
    color: var(--colorText);
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 400;
    margin-left: 15px;
    border: 2px solid var(--border);
    background-color: var(--buttonBackground);
    padding: 6px 15px;
    border-radius: 30px;
}

.nav__cta:hover{
    background-color: var(--buttonBackgroundHover);
    color: var(--textHover);
}


.gallery{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
    padding: 60px 0;
}

.gallery__container{    
    columns: 4 290px;
    column-gap: 0.5em;
}

.gallery__img{
    display: block;
    max-width: 100%;
    margin-bottom: 0.5em;
    object-fit: cover;
    filter: brightness(95%);
    border-radius: 3px;
    outline: 2px solid var(--border);
    outline-offset: -6px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s;
}

.gallery__img:hover{
    transform: scale(1.02);
}

.modal__close{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    font-weight: bold;
    color: var(--buttonBackgroundHover);
    cursor: pointer;
    text-decoration: none;
}

.full__img{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.resized__img{
    width: 100%;
    max-width: 1200px;
}

.footer{
    background-color: var(--background);
    height: 70px;
    line-height: 70px;
}
.footer__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.footer__name{
    color: var(--colorText);
    text-transform: uppercase;
}

.cta{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--colorText);
}

.cta:hover{
    font-weight: bold;
    color: var(--textHover);
    /* text-shadow: 1px 2px var(--font-color); */
}

@media screen and (max-width: 550px){
    .nav{
        flex-direction: row;
    }

    .nav__logo{
        order: -1;
    }

    .nav__cta{
        font-size: 0.8em;
    }
}